body {
    color: black;
    background-color: blanchedalmond;
}
h1 {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: blue;
    font-family: "Times New Roman", Times, serif;
}
h3 {
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-size: 40px;
}
p {
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
pre {
	color: black; 
	background-color: #ADFF2F;
	font-size: 14px;
	
}
a:link { 
    color: red 
}
a:visited { 
    color: purple
}

li {
	color: black;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    padding: 9px;
	font-size: 13px; 
	float: left;
}
ul li a{
        margin: 0.5em 0;
        padding: 0.3em;
        border-right: 1em solid black;
        background: hsl(120,100%,75%);;
}
div{
    background-color: palegreen;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden; 
    position: relative;

}

.clase2{
	list-style-type: none;
    padding: 0;
    margin: 0;
    
    top: 8em;
    left: 2em;
}
.clase3{
    text-align: left;
	list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;    
    top: 5em;
    left: 29em;
    width: 50em;
}
.clase1{
	background-color: lightcyan;
}
.clase{
	background-color: rgba(255,0,0,0.3);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.amino{
	text-align: left;
	list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;    
  
    top: 2em;
    left: 28em;
}   
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
    width: 60em;
}
.cendiv{
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;    
    top: 27em;
    left: 5em;
    width: 70em;
}

.cendiv2{
    list-style-type: none;
    padding: 0;
    margin: 0;

    position: absolute;    
    top: 26em;
    left: 5em;
    width: 70em;
}
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
